# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/
*.log

# VS Code
.vscode/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/